.loginPage {
  
   background: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp');
   background-position: left;
   background-repeat: no-repeat;
   background-size: 40% 40%;

}
.loginForm{
  background-color: rgba(0);
  color:rgb(10, 8, 8);
  
}
.loginForm:hover{
  background-color: rgba(119, 186, 220, 0.895);
  
}
.employee_image{
  width: 40px;
  height:40px;
  border-radius: 50%;
} 
.header h1{
  font-weight: 400;
  margin-bottom: 2.5rem;
  color: rgb(14, 145, 244);

}
.emp_det_image{
  width: 280px;
  height:280px;
  border-radius: 50%;
}
.table_custom{
  --bs-table-bg:transparent !important;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}